{% extends 'base.html' %}
{% block content %}
<h1 style="background-color: rgb(0, 225, 255); padding: 25px;">Add record</h1>
<div class="col-md-6 offset-md-3">
    
    <form method="POST" action="{% url 'add_record' %}">
        <!-- cross-site request forgery token  -->
        {% csrf_token %}

        {{ form.as_p }}

        <br/>
        <button type="submit" class="btn btn-secondary">Add Record</button>
        <a href="{% url 'home' %}" class="btn btn-primary"> Back </a>
    </form>
    
</div>

{% endblock %}#87CEEB